{% extends 'catalog/base.html' %}
{% block content %}

    <div class="row text-center">
        {% for product in object_list %}
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ product }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$ {{ product.price }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>- {{ product.description }}</li>
                        </ul>
                        <a href="/product_details/{{ product.pk }}/">
                            <button class="btn btn-outline-dark" type="button">Подробнее</button>
                        </a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}